In [1]:
#print statement

print("HOPE AI")

HOPE AI

In [3]:
#Buy input

Ins_name=str(input("Enter your institute name? : "))

Enter your institute name? :  HOPE AI

In [5]:
#Buy inputs43

Name=str(input("Enter your name: "))
Age=int(input("Enter your age: "))
Sch_name=str(input("Enter your school name: "))
Degree=str(input("Enter your degree: "))

Enter your name:  Raj
Enter your age:  15
Enter your school name:  Guru school
Enter your degree:  B.E CSE

In [7]:
#Addition

num1=int(input("a = "))
num2=int(input("b = "))
print("add = ",num1+num2)

a =  43
b =  34

add =  77

In [9]:
#Subtraction

num1=int(input("a = "))
num2=int(input("b = "))
print("Sub = ",num1-num2)

a =  43
b =  34

Sub =  9

In [11]:
#Multiplication 

num1=int(input("a = "))
num2=int(input("b = "))
print("Mul = ",num1*num2)

a =  63
b =  97

Mul =  6111

In [13]:
#Division

num1=int(input("a = "))
num2=int(input("b = "))
print("Float Div = ",num1/num2)

a =  76
b =  31

Float Div =  2.4516129032258065

In [15]:
#Floor division

num1=int(input("a = "))
num2=int(input("b = "))
print("Floor Div = ",num1//num2)

a =  76
b =  31

Floor Div =  2

In [17]:
#Modulo

num1=int(input("a = "))
num2=int(input("b = "))
print("Modulo = ",num1%num2)

a =  76
b =  31

Modulo =  14

In [19]:
#Power

num1=int(input("a = "))
num2=int(input("b = "))
print("Power = ",num1**num2)

a =  4
b =  4

Power =  256